<nav class="navbar navbar-expand-lg" id="siteNav">
    <div class="container-fluid">
        <a class="navbar-brand pl-3" href="/">
<!--            <img src="./img/brand-logo.png">-->
            <h1>SingInTheRain</h1>
        </a>
        <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"
             aria-controls="navbarNav"
             aria-expanded="false"
             aria-label="Toggle navigation">
            <div class="toggle">
                <div class="bar"></div>
            </div>
        </div>
        <div class="collapse navbar-collapse pr-lg-3" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/raisers">Raisers</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams">Teams</a></li>
                <li class="nav-item"><a class="nav-link" href="/#register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/#homeContact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>