<% include ./partials/head.ejs %>
<body class="page-raisers transition" id="body">
<main>
    <% include ./partials/header.ejs %>
    <% include ./partials/nav.ejs %>

    <section class="our-raisers">
        <div class="container">
            <h2 class="section-title">
                Our Raisers
            </h2>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="raiser-wrap">
                        <div class="raiser-img">
                            <img src="../img/raiser-img-1.jpg" alt="raiser">
                        </div>
                        <h3 class="section-title-secondary">
                            Name Surname
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="blue-button" onclick="window.location.href='/singer-donate'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="raiser-wrap">
                        <div class="raiser-img">
                            <img src="../img/raiser-img-1.jpg" alt="raiser">
                        </div>
                        <h3 class="section-title-secondary">
                            Name Surname
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="blue-button" onclick="window.location.href='/singer-donate'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="raiser-wrap">
                        <div class="raiser-img">
                            <img src="../img/raiser-img-1.jpg" alt="raiser">
                        </div>
                        <h3 class="section-title-secondary">
                            Name Surname
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="blue-button" onclick="window.location.href='/singer-donate'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="raiser-wrap">
                        <div class="raiser-img">
                            <img src="../img/raiser-img-1.jpg" alt="raiser">
                        </div>
                        <h3 class="section-title-secondary">
                            Name Surname
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="blue-button" onclick="window.location.href='/singer-donate'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="raiser-wrap">
                        <div class="raiser-img">
                            <img src="../img/raiser-img-1.jpg" alt="raiser">
                        </div>
                        <h3 class="section-title-secondary">
                            Name Surname
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="blue-button" onclick="window.location.href='/singer-donate'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="raiser-wrap">
                        <div class="raiser-img">
                            <img src="../img/raiser-img-1.jpg" alt="raiser">
                        </div>
                        <h3 class="section-title-secondary">
                            Name Surname
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="blue-button" onclick="window.location.href='/singer-donate'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="raiser-wrap">
                        <div class="raiser-img">
                            <img src="../img/raiser-img-1.jpg" alt="raiser">
                        </div>
                        <h3 class="section-title-secondary">
                            Name Surname
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="blue-button" onclick="window.location.href='/singer-donate'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="raiser-wrap">
                        <div class="raiser-img">
                            <img src="../img/raiser-img-1.jpg" alt="raiser">
                        </div>
                        <h3 class="section-title-secondary">
                            Name Surname
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="blue-button" onclick="window.location.href='/singer-donate'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="raiser-wrap">
                        <div class="raiser-img">
                            <img src="../img/raiser-img-1.jpg" alt="raiser">
                        </div>
                        <h3 class="section-title-secondary">
                            Name Surname
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="blue-button" onclick="window.location.href='/singer-donate'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="raiser-wrap">
                        <div class="raiser-img">
                            <img src="../img/raiser-img-1.jpg" alt="raiser">
                        </div>
                        <h3 class="section-title-secondary">
                            Name Surname
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="blue-button" onclick="window.location.href='/singer-donate'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="raiser-wrap">
                        <div class="raiser-img">
                            <img src="../img/raiser-img-1.jpg" alt="raiser">
                        </div>
                        <h3 class="section-title-secondary">
                            Name Surname
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="blue-button" onclick="window.location.href='/singer-donate'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="raiser-wrap">
                        <div class="raiser-img">
                            <img src="../img/raiser-img-1.jpg" alt="raiser">
                        </div>
                        <h3 class="section-title-secondary">
                            Name Surname
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="blue-button" onclick="window.location.href='/singer-donate'">
                            sponsor
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include ./partials/footer.ejs %>
</main>
</body>
</html>