<% include ./partials/head.ejs %>
<body class="page-teams transition" id="body">
<main>
    <% include ./partials/header.ejs %>
    <% include ./partials/nav.ejs %>

    <section class="our-teams">
        <div class="container">
            <h2 class="section-title">
                Our Teams
            </h2>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="../img/team-img-1.jpg" alt="team">
                        </div>
                        <h3 class="section-title-secondary">
                            Team Name
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="orange-button" onclick="window.location.href='/team-info'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="../img/team-img-1.jpg" alt="team">
                        </div>
                        <h3 class="section-title-secondary">
                            Team Name
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="orange-button" onclick="window.location.href='/team-info'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="../img/team-img-1.jpg" alt="team">
                        </div>
                        <h3 class="section-title-secondary">
                            Team Name
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="orange-button" onclick="window.location.href='/team-info'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="../img/team-img-1.jpg" alt="team">
                        </div>
                        <h3 class="section-title-secondary">
                            Team Name
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="orange-button" onclick="window.location.href='/team-info'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="../img/team-img-1.jpg" alt="team">
                        </div>
                        <h3 class="section-title-secondary">
                            Team Name
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="orange-button" onclick="window.location.href='/team-info'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="../img/team-img-1.jpg" alt="team">
                        </div>
                        <h3 class="section-title-secondary">
                            Team Name
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="orange-button" onclick="window.location.href='/team-info'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="../img/team-img-1.jpg" alt="team">
                        </div>
                        <h3 class="section-title-secondary">
                            Team Name
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="orange-button" onclick="window.location.href='/team-info'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="../img/team-img-1.jpg" alt="team">
                        </div>
                        <h3 class="section-title-secondary">
                            Team Name
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="orange-button" onclick="window.location.href='/team-info'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="../img/team-img-1.jpg" alt="team">
                        </div>
                        <h3 class="section-title-secondary">
                            Team Name
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="orange-button" onclick="window.location.href='/team-info'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="../img/team-img-1.jpg" alt="team">
                        </div>
                        <h3 class="section-title-secondary">
                            Team Name
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="orange-button" onclick="window.location.href='/team-info'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="../img/team-img-1.jpg" alt="team">
                        </div>
                        <h3 class="section-title-secondary">
                            Team Name
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="orange-button" onclick="window.location.href='/team-info'">
                            sponsor
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-5">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="../img/team-img-1.jpg" alt="team">
                        </div>
                        <h3 class="section-title-secondary">
                            Team Name
                        </h3>
                        <h5 class="section-info-secondary">
                            $1,234 raised of $23.456
                        </h5>
                        <button class="orange-button" onclick="window.location.href='/team-info'">
                            sponsor
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include ./partials/footer.ejs %>
</main>
</body>
</html>